@import "/node_modules/@syncfusion/ej2-base/styles/material.css";
@import "/node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "/node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "/node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "/node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "/node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "/node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "/node_modules/@syncfusion/ej2-react-schedule/styles/material.css";
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --sidebar-width: 200px;
    --header-height: 64px;
    --btn-c-edit: #075eff;
}

.bg-create { background: #272d4d; color: white };
.bg-danger { background:#b83564; color: white };
.color3 { background: #ff6a5a; color: white };
.color4 { background: #ffb350; color:black };
.color5 { background: #83b8aa; color: black };
 
.MuiTableCell-head {
   font-family: Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
} 

.sidebar {
    width: var(--sidebar-width);
    height: calc(100vh - 2.5rem);
    position: fixed;
    height: calc(100vh - var(--header-height));
    position: fixed;
    top: var(--header-height);
}

.header-main {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    z-index: 100;
}
.app-main {
    margin-left: var(--sidebar-width);
    margin-top: var(--header-height);
    padding: 1rem;
    min-height: calc(100vh - var(--header-height));
    background: #f5f5f5;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-create {
    /* background: #18cfe7;
    color: white; */
    border-radius: 10px;
    background: #83b8aa; color: rgb(41, 41, 41);
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.2);
}

.btn-custom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border: none;
    border-radius: 10px;
    padding: 8px 15px;
}

.btn-create:hover {
    background: #16bacf;
}
.btn-store {
    padding: .5rem 1rem;
    background: #0d6efd;
    color: white;
}

.title {
    font-size: 2rem;
    font-weight: 600;
}

.MuiCard-root {
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.2) !important;
}


.btn-icon {
    background: #ebe9e9;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-icon:hover {
    background: #dcdcdc;
}

.btn-c-edit {
    color: var(--btn-c-edit);
}

input:focus, textarea:focus, select:focus {
    /* border: inherit !important; */
    /* border-color: #16bacf ; */
    outline: none !important;
    box-shadow: none !important;
}

.form-control {
    border-radius: 0.375rem;
    display: flex;
    border: 1px solid #d1d1d1;
}
.form-control:focus {
    border-color: #16bacf;
    outline: #16bacf !important;
    box-shadow: none !important;
}

.invalid-control {
    border-color: #dc3545 !important;
}

.swal2-popup.swal2-toast .swal2-html-container {
    white-space: break-spaces;
}

.dialog-custom {
    position: fixed;
    background: #6b72804d;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.dialog-custom-container {
    width: auto;
    min-width: 300px;
    background: white;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.2);
    height: calc(100vh - 2rem);
    overflow: auto;
}

.search-bar {
    padding: 1px 15px;
    background: #dfe1e9;
}

.MuiTableCell-head {
    font-family: Figtree, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
 }

.MuiPaper-root {
    border-radius: 10px !important;
    box-shadow: 1px 1px 10px  rgba(0, 0, 0, 0.2) !important;
    overflow: hidden;
}

.table-schedule {
    border-collapse: collapse;
    width: 100%;
}

.table-schedule td, .table-schedule th {
    border: 1px solid #ddd;
    padding: 8px;
}

.schedules {
    position: relative; /* Establece una posición relativa para poder posicionar el div */
    pointer-events: all;
  }

  .schedules-overlay {
    position: absolute; /* Establece una posición absoluta para superponer el div encima de la tabla */
    top: 0;
    left: 0;
    pointer-events: none; /* Evita que el div capture los eventos del mouse y permita interactuar con la tabla */
     /* Cambia el color de fondo para resaltar la selección */
    /* opacity: .5; */
    z-index: 1; /* Asegura que el div se muestre por encima de la tabla */
    padding: 5px
  }

.user-select-none {
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.schedules-overlay-child {
    background-color: #dfecff;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}